/*
    This file is part of the Basic Meeting List Toolbox (BMLT).
    
    Find out more at: http://bmlt.magshare.org

    BMLT is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    BMLT is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this code.  If not, see <http://www.gnu.org/licenses/>.
*/

/* Generic Stuff */

*
{
    margin:0;
    padding: 0;
}

html,
body
{
    width: 100%;
    height: 100%;
}

body
{
    background-color:#009;
    font-family:Verdana,Helvetica,Arial,Sans-Serif;
    margin:0;
    padding: 0;
}

div.c_comdef_admin_login_form_container_div
{
    color:white;
    text-align:center;
}

div.c_comdef_admin_login_form_inner_container_div
{
    margin-left:auto;
    margin-right:auto;
    width:400px;
}

h1.login_form_main_banner_h1
{
    font-size:3em;
    border-bottom:2px solid white;
    padding-bottom:0.1em;
    margin-bottom:0.25em;
}

h2.login_form_secondary_banner_h2
{
    font-size:2em;
    margin-bottom:0.5em;
}

div.c_comdef_admin_login_form_prompt
{
    font-size:1em;
    font-weight:bold;
    margin-bottom:0.2em;
}

div.c_comdef_admin_login_form_line_div
{
    float:none;
    clear:both;
}

div.c_comdef_admin_login_form_line_div label
{
    clear:both;
    display:block;
    float:left;
    width:200px;
    text-align:right;
    font-weight:bold;
}

div.c_comdef_admin_login_form_line_div label
{
    float:left;
    width:200px;
}

dt.service_body_dt,
dd.bmlt_admin_service_body_child_dd,
div.clear_both
{
    clear:both;
    float:none;
}

.item_hidden
{
    display:none !important;
}

/* Used throughout */

div.bmlt_admin_meeting_editor_form_new_meetings_div .hide_in_new_meeting,
div.bmlt_admin_new_sb_editor .hide_in_new_service_body_admin,
div.bmlt_admin_new_user_editor .hide_in_new_user_admin,
td.bmlt_admin_new_format_editor_td .hide_in_new_format_admin
{
    display:none;
}

.bmlt_admin_med_label_left,
.bmlt_admin_med_label_right,
span.single_checkbox_span,
.duplicate_checkbox_span,
.perm_checkbox_span
{
    white-space:nowrap;
    margin-left:4px;
    display:block;
}

.perm_checkbox_span,
.duplicate_checkbox_span
{
    margin-top:4px;
}

.perm_checkbox_span label,
.duplicate_checkbox_span label
{
    padding-left:4px;
    font-weight:bold;
    color: #009;
}

.bmlt_admin_med_label_left,
.bmlt_admin_med_label_right,
span.single_checkbox_span
{
    height: 1.25em;
    clear:none;
    float:left;
}

div.bmlt_admin_one_line_in_a_form_no_margin,
div.bmlt_admin_one_line_in_a_form
{
    vertical-align:top;
    color: #009;
    padding:2px;
    margin-bottom:0.5em;
}

div.bmlt_admin_one_line_in_a_form_no_margin
{
    margin-top:-0.5em;
}

.bmlt_admin_med_label_left,
.bmlt_admin_med_label_right
{
    display:block;
    font-weight:bold;
}

.bmlt_admin_med_checkbox_label_left
{
    font-weight:bold;
    padding-left:0.25em;
    padding-right:1em;
}

span.weekday_checkbox_span input
{
    display:block;
    float:left;
    margin-right:0.25em;
}

span.weekday_checkbox_span label.bmlt_admin_med_checkbox_label_left
{
    display:block;
}

.bmlt_admin_med_label_right
{
    width:20em;
    text-align:right;
}

.bmlt_admin_value_left,
.bmlt_admin_med_label_left
{
    margin-left:0.25em;
    text-align:left;
}

.bmlt_admin_value_left_div,
.bmlt_admin_value_left
{
    display:block;
    clear:none;
    float:left;
}

.bmlt_admin_value_left
{
    font-style:italic;
}

input.bmlt_text_item_tiny,
input.bmlt_text_item_small,
input.bmlt_text_item_med,
input.bmlt_text_item,
textarea.bmlt_text_item_tiny,
textarea.bmlt_text_item_small,
textarea.bmlt_text_item_med,
textarea.bmlt_text_item
{
    padding:2px;
    background-color:white;
    color: #009;
    border: 1px solid #009;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

input.bmlt_text_item_tiny,
input.bmlt_text_item_small,
input.bmlt_text_item_med,
input.bmlt_text_item
{
    height:1em;
}

input.bmlt_text_item_tiny
{
    width:3em;
}

input.bmlt_text_item_small
{
    width:15em;
}

input.bmlt_text_item_med
{
    width:20em;
}

input.bmlt_text_item
{
    width:30em;
}

textarea.bmlt_text_item_tiny
{
    width:10em;
    height: 2em;
}

textarea.bmlt_text_item_small
{
    width:15em;
    height: 4em;
}

textarea.bmlt_text_item_med
{
    width:30em;
    height:3em;
}

textarea.bmlt_text_item
{
    width:30em;
    height: 10em;
}

input.bmlt_text_item_dimmed,
textarea.bmlt_text_item_dimmed
{
    color: #777;
    font-style:italic;
    background-color:#efefef;
}

/* These are buttons */

div.format_editor_delete_div a.button_disabled,
div.format_editor_delete_div a.button_disabled:visited,
span.bmlt_admin_delete_button_span a.button_disabled,
span.bmlt_admin_delete_button_span a.button_disabled:visited,
a.bmlt_admin_ajax_button,
a.bmlt_admin_ajax_button:visited
{
    outline:none;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    display: inline-block;
    padding:2px;
    padding-left:20px;
    padding-right:20px;
    border: 1px solid #009;
    color: #009;
    font-weight:bold;
    font-style:normal;
    font-size:large;
    text-decoration:none;
    background-color:white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor:default;
}

div.format_editor_delete_div a.bmlt_admin_ajax_button,
div.format_editor_delete_div a.bmlt_admin_ajax_button:visited,
span.bmlt_admin_delete_button_span a.bmlt_admin_ajax_button,
span.bmlt_admin_delete_button_span a.bmlt_admin_ajax_button:visited
{
    outline:none;
    color:red;
    border: 1px solid red;
}

div.format_editor_delete_div a.bmlt_admin_ajax_button:hover,
div.format_editor_delete_div a.bmlt_admin_ajax_button:active,
span.bmlt_admin_delete_button_span a.bmlt_admin_ajax_button:hover,
span.bmlt_admin_delete_button_span a.bmlt_admin_ajax_button:active
{
    outline:none;
    background-color:red;
    color:white;
    border: 1px solid white;
}

a.bmlt_admin_ajax_button:hover,
a.bmlt_admin_ajax_button:active
{
    outline:none;
    background-color:#009;
    color:white;
    border: 1px solid white;
}

div.bmlt_admin_single_meeting_editor_map_button_bar_div a.bmlt_admin_ajax_button:hover,
div.bmlt_admin_single_meeting_editor_map_button_bar_diva.bmlt_admin_ajax_button:active
{
    outline:none;
    background-color:#009;
    color:white;
    border: 1px solid white;
}

span.bmlt_admin_delete_button_span a.button_disabled,
span.bmlt_admin_delete_button_span a.button_disabled:visited,
span.bmlt_admin_delete_button_span a.button_disabled:hover,
span.bmlt_admin_delete_button_span a.button_disabled:active,
a.button_disabled,
a.button_disabled:visited,
a.button_disabled:hover,
a.button_disabled:active
{
    display: inline-block;
    outline:none;
    font-style:italic;
    background-color:#999;
    color:#ccc;
}

/* My Account and Meeting Editor Stuff */

div.bmlt_admin_meeting_editor_address_div
{
    margin-top:8px;
}

div.bmlt_admin_single_meeting_editor_div
{
    margin:4px;
    margin-top:8px;
    padding:4px;
    border: 1px solid #009;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

div.bmlt_admin_meeting_editor_form_new_meetings_div .bmlt_admin_single_meeting_editor_div
{
    background-color:#efffef;
}

div.bmlt_admin_meeting_inner_div
{
    padding:4px;
    border: 1px solid #009;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color:white;
    margin:8px;
}

div.bmlt_admin_meeting_editor_tab_bar
{
    background-color:#009;
    height: 30px;
}

div.bmlt_admin_observer_link_div
{
    height:14px;
    padding:2px;
    padding-left:24px;
}

a.bmlt_admin_observer_link_a,
a.bmlt_admin_observer_link_a:visited
{
    font-size:large;
    font-weight:bold;
    outline:none;
    color:#99f;
    text-decoration:underline;
}

a.bmlt_admin_observer_link_a:hover,
a.bmlt_admin_observer_link_a:active
{
    outline:none;
    color:#f96;
    text-decoration:none;
}

a.bmlt_admin_meeting_editor_tab_item_a_unselected,
a.bmlt_admin_meeting_editor_tab_item_a_unselected:visited,
a.bmlt_admin_meeting_editor_tab_item_a_selected,
a.bmlt_admin_meeting_editor_tab_item_a_selected:visited
{
    display: inline-block;
    height:100%;
    outline:none;
    display:table;
    padding:4px;
    padding-left:8px;
    padding-right:8px;
    text-align:center;
    font-size:large;
    font-weight:bold;
    float:left;
}

a.bmlt_admin_meeting_editor_tab_item_a_unselected,
a.bmlt_admin_meeting_editor_tab_item_a_unselected:visited
{
    display: inline-block;
    outline:none;
    color:#99f;
    text-decoration:underline;
}

a.bmlt_admin_meeting_editor_tab_item_a_unselected:hover,
a.bmlt_admin_meeting_editor_tab_item_a_unselected:active
{
    outline:none;
    color:#f96;
    text-decoration:none;
}

a.bmlt_admin_meeting_editor_tab_item_a_selected,
a.bmlt_admin_meeting_editor_tab_item_a_selected:visited,
a.bmlt_admin_meeting_editor_tab_item_a_selected:hover,
a.bmlt_admin_meeting_editor_tab_item_a_selected:active
{
    display: inline-block;
    outline:none;
    color:#009;
    text-decoration:none;
    cursor:default;
    background-color:white;
}

div.bmlt_admin_meeting_editor_banner_div,
div.bmlt_admin_user_account_banner_div,
div.bmlt_admin_service_body_editor_banner_div,
div.bmlt_admin_user_editor_banner_div,
div.bmlt_admin_format_editor_banner_div
{
    height: 1.8em;
    padding:4px;
    margin-bottom:4px;
    border: 1px solid white;
    background-color:white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

div.bmlt_admin_fader_div
{
    font-size:x-large;
    font-weight:bold;
    text-align:center;
}

span.success_text_span
{
    color:green;
}

span.failure_text_span
{
    color:red;
}

span.warn_text_span
{
    color:orange;
}

div.bmlt_admin_meeting_editor_disclosure_div,
div.bmlt_admin_user_account_disclosure_div,
div.bmlt_admin_service_body_editor_disclosure_div,
div.bmlt_admin_user_editor_disclosure_div,
div.bmlt_admin_format_editor_disclosure_div
{
    background-color: #009;
    font-size: medium;
    font-weight:bold;
    padding:2px;
}

a.bmlt_admin_single_meeting_editor_map_disclosure_a,
a.bmlt_admin_single_meeting_editor_map_disclosure_a:visited,
a.bmlt_admin_meeting_editor_disclosure_a,
a.bmlt_admin_meeting_editor_disclosure_a:visited,
a.bmlt_admin_user_account_disclosure_a,
a.bmlt_admin_user_account_disclosure_a:visited,
a.bmlt_admin_service_body_editor_disclosure_a,
a.bmlt_admin_service_body_editor_disclosure_a:visited,
a.bmlt_admin_user_editor_disclosure_a,
a.bmlt_admin_user_editor_disclosure_a:visited,
a.bmlt_admin_format_editor_disclosure_a,
a.bmlt_admin_format_editor_disclosure_a:visited
{
    outline:none;
    text-align:left;
    height:14px;
    display:block;
    padding:2px;
    padding-left:24px;
    color:#99f;
    text-decoration:underline;
    background-repeat:no-repeat;
    background-position:4px;
}

a.bmlt_admin_single_meeting_editor_map_disclosure_a:hover,
a.bmlt_admin_single_meeting_editor_map_disclosure_a:active,
a.bmlt_admin_meeting_editor_disclosure_a:hover,
a.bmlt_admin_meeting_editor_disclosure_a:active,
a.bmlt_admin_user_account_disclosure_a:hover,
a.bmlt_admin_user_account_disclosure_a:active,
a.bmlt_admin_service_body_editor_disclosure_a:hover,
a.bmlt_admin_service_body_editor_disclosure_a:active,
a.bmlt_admin_user_editor_disclosure_a:hover,
a.bmlt_admin_user_editor_disclosure_a:active,
a.bmlt_admin_format_editor_disclosure_a:hover,
a.bmlt_admin_format_editor_disclosure_a:active
{
    outline:none;
    color:#f96;
    text-decoration:none;
}

div.bmlt_admin_single_meeting_disclosure_map_div_closed,
div.bmlt_admin_single_meeting_disclosure_map_div_open
{
    padding:4px;
}

div.bmlt_admin_single_meeting_disclosure_map_div_closed a,
div.bmlt_admin_single_meeting_disclosure_map_div_closed a:visited,
div.bmlt_admin_meeting_editor_disclosure_div_closed a,
div.bmlt_admin_meeting_editor_disclosure_div_closed a:visited,
div.bmlt_admin_user_account_disclosure_div_closed a,
div.bmlt_admin_user_account_disclosure_div_closed a:visited,
div.bmlt_admin_service_body_editor_disclosure_div a,
div.bmlt_admin_service_body_editor_disclosure_div a:visited,
div.bmlt_admin_user_editor_disclosure_div a,
div.bmlt_admin_user_editor_disclosure_div a:visited,
div.bmlt_admin_format_editor_disclosure_div a,
div.bmlt_admin_format_editor_disclosure_div a:visited
{
    background-image:url(images/invisible_disclosure.gif);
}

div.bmlt_admin_single_meeting_disclosure_map_div_closed a:hover,
div.bmlt_admin_single_meeting_disclosure_map_div_closed a:active,
div.bmlt_admin_meeting_editor_disclosure_div_closed a:hover,
div.bmlt_admin_meeting_editor_disclosure_div_closed a:active,
div.bmlt_admin_user_account_disclosure_div_closed a:hover,
div.bmlt_admin_user_account_disclosure_div_closed a:active,
div.bmlt_admin_service_body_editor_disclosure_div a:hover,
div.bmlt_admin_service_body_editor_disclosure_div a:active,
div.bmlt_admin_user_editor_disclosure_div a:hover,
div.bmlt_admin_user_editor_disclosure_div a:active,
div.bmlt_admin_format_editor_disclosure_div a:hover,
div.bmlt_admin_format_editor_disclosure_div a:active
{
    background-image:url(images/invisible_disclosure_mouseover.gif);
}

div.bmlt_admin_single_meeting_disclosure_map_div_open a,
div.bmlt_admin_single_meeting_disclosure_map_div_open a:visited,
div.bmlt_admin_meeting_editor_disclosure_div_open a,
div.bmlt_admin_meeting_editor_disclosure_div_open a:visited,
div.bmlt_admin_user_account_disclosure_div_open a,
div.bmlt_admin_user_account_disclosure_div_open a:visited,
div.bmlt_admin_service_body_editor_disclosure_div_open a,
div.bmlt_admin_service_body_editor_disclosure_div_open a:visited,
div.bmlt_admin_user_editor_disclosure_div_open a,
div.bmlt_admin_user_editor_disclosure_div_open a:visited,
div.bmlt_admin_format_editor_disclosure_div_open a,
div.bmlt_admin_format_editor_disclosure_div_open a:visited
{
    background-image:url(images/visible_disclosure.gif);
}

div.bmlt_admin_single_meeting_disclosure_map_div_open a:hover,
div.bmlt_admin_single_meeting_disclosure_map_div_open a:active,
div.bmlt_admin_meeting_editor_disclosure_div_open a:hover,
div.bmlt_admin_meeting_editor_disclosure_div_open a:active,
div.bmlt_admin_user_account_disclosure_div_open a:hover,
div.bmlt_admin_user_account_disclosure_div_open a:active,
div.bmlt_admin_service_body_editor_disclosure_div_open a:hover,
div.bmlt_admin_service_body_editor_disclosure_div_open a:active,
div.bmlt_admin_user_editor_disclosure_div_open a:hover,
div.bmlt_admin_user_editor_disclosure_div_open a:active,
div.bmlt_admin_format_editor_disclosure_div_open a:hover,
div.bmlt_admin_format_editor_disclosure_div_open a:active
{
    background-image:url(images/visible_disclosure_mouseover.gif);
}

div.bmlt_admin_meeting_editor_wrapper_div,
div.bmlt_admin_user_account_wrapper_div,
div.bmlt_admin_service_body_editor_wrapper_div,
div.bmlt_admin_user_editor_wrapper_div,
div.bmlt_admin_format_editor_wrapper_div
{
    display:block;
    background-color: #009;
    padding:4px;
}

span.bmlt_admin_time_span
{
    font-weight:bold;
    font-style: normal;
}

span.bmlt_admin_time_span input,
span.bmlt_admin_time_span select
{
    margin-left:4px;
    margin-right:4px;
}

span.bmlt_admin_time_span span,
span.bmlt_admin_time_span label
{
    margin-right:8px;
}

div.bmlt_admin_meeting_editor_tab_div
{
    height:24px;
    margin-bottom:4px;
    width:100%;
    background-color:#009;
}

div.bmlt_admin_tab_div_selected,
div.bmlt_admin_tab_div_not_selected
{
    height:20px;
    text-align:center;
    font-size:large;
    font-weight:bold;
    width:49.5%;
    margin:0;
    padding:0;
    padding-top:4px;
    padding-bottom:8px;
}

div.bmlt_admin_tab_div_left
{
    float:left;
}

div.bmlt_admin_tab_div_right
{
    float:right;
}

div.bmlt_admin_tab_div_selected
{
    background-color:white;
    color: #009;
    border: 1px solid white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

div.bmlt_admin_tab_div_selected a,
div.bmlt_admin_tab_div_selected a:visited,
div.bmlt_admin_tab_div_selected a:hover,
div.bmlt_admin_tab_div_selected a:active
{
    display: inline-block;
    color:#009;
    text-decoration:none;
}

div.bmlt_admin_tab_div_not_selected a,
div.bmlt_admin_tab_div_not_selected a:visited
{
    outline:none;
    display:block;
    height: 18px;
    margin-bottom:8px;
    color:#99f;
    text-decoration:underline;
}

div.bmlt_admin_tab_div_not_selected a:hover,
div.bmlt_admin_tab_div_not_selected a:active
{
    color:#f96;
    text-decoration:none;
}

div.bmlt_admin_meeting_editor_form_specifier_div,
div.bmlt_admin_user_account_edit_form_inner_div,
div.bmlt_admin_service_body_edit_form_inner_div,
div.bmlt_admin_user_edit_form_inner_div,
div.bmlt_admin_format_editor_inner_div
{
    border: 1px solid white;
    background-color:white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

div.bmlt_admin_meeting_editor_wrapper_div_hidden,
div.bmlt_admin_user_account_wrapper_div_hidden,
div.bmlt_admin_service_body_editor_wrapper_div_hidden,
div.bmlt_admin_user_editor_wrapper_div_hidden,
div.bmlt_admin_format_editor_wrapper_div_hidden
{
    display:none;
}

div.bmlt_admin_single_meeting_editor_map_button_bar_div
{
    text-align:center;
    padding:4px;
    margin-bottom:4px;
}

div.bmlt_admin_meeting_editor_service_div
{
    float:left;
}

dl.service_body_dl,
dt.service_body_dt,
dd.bmlt_admin_service_body_dd,
dd.bmlt_admin_service_body_child_dd
{
    float:none;
    clear:both;
}

dd.bmlt_admin_service_body_dd,
dd.bmlt_admin_service_body_child_dd,
dl.service_body_dl
{
    padding-bottom:1em;
}

dd.bmlt_admin_service_body_child_dd
{
    margin-left:2em;
}

dt.service_body_dt label.bmlt_admin_med_checkbox_label_left
{
    font-weight:normal;
}

dt.service_body_parent_dt label.bmlt_admin_med_checkbox_label_left
{
    font-weight:bold;
}

div.bmlt_admin_meeting_editor_form_meeting_button_div,
div.bmlt_admin_user_editor_button_div
{
    margin-top:8px;
}

span.bmlt_admin_meeting_editor_form_meeting_button_left_span,
span.bmlt_admin_meeting_editor_form_meeting_button_right_span,
span.bmlt_admin_meeting_editor_form_meeting_button_single_span,
span.bmlt_admin_meeting_editor_form_middle_button_single_span
{
    clear:none;
    display:block;
    text-align:center;
    margin:auto;
    margin-top:4px;
    margin-bottom:4px;
    width:33%;
}

span.bmlt_admin_meeting_editor_form_middle_button_single_span,
span.bmlt_admin_meeting_editor_form_meeting_button_left_span
{
    float:left;
}

span.bmlt_admin_meeting_editor_form_meeting_button_right_span
{
    float:right;
}

div.bmlt_admin_meeting_editor_form_div
{
    border: 1px solid white;
    background-color:white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

div.bmlt_admin_single_meeting_disclosure_map_div_closed,
div.bmlt_admin_single_meeting_disclosure_map_div_open,
div.bmlt_admin_single_meeting_map_div
{
    clear:both;
    background-color:#009;
    margin-top:8px;
}

div.bmlt_admin_single_meeting_disclosure_map_div_open
{
    margin-bottom: -8px;
}

div.bmlt_admin_single_meeting_editor_inner_map_div
{
    height:400px;
    margin:4px;
}

div.meeting_line_odd,
div.meeting_line_even
{
    padding:2px;
    font-weight:bold;
}

div.meeting_line_odd
{
    background-color:white;
}

div.meeting_line_even
{
    background-color:#efefff;
}

div.bmlt_admin_meeting_search_results_single_meeting_outer_container_unpublished_div
    div.meeting_line_odd
{
    background-color:#ffdd77;
}

div.bmlt_admin_meeting_search_results_single_meeting_outer_container_unpublished_div
    div.meeting_line_even
{
    background-color:#ffcc55;
}

div.bmlt_admin_meeting_editor_meeting_header
{
    text-align:center;
    font-size: large;
    font-weight:bold;
    color:#009;
}

div.bmlt_admin_meeting_editor_form_results_banner_div
{
    text-align:center;
    font-size: large;
    font-weight:bold;
    background-color:#009;
    color:white;
    padding:2px;
    margin-bottom: 4px;
    margin-top:4px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

div.bmlt_admin_meeting_one_format_div
{
    width: 32%;
    float:left;
}

div.bmlt_admin_meeting_one_format_div span
{
    display:block;
    float:left;
    margin-top:0.25em;
    margin-bottom:0.25em;
    white-space:nowrap;
}

div.bmlt_admin_meeting_one_format_div label
{
    display:block;
    color:#009;
    float:left;
    padding-top:0.25em;
    white-space:normal;
}

div.bmlt_admin_meeting_one_format_div label.left_label
{
    width: 2em;
    text-align:right;
    margin-right:0.5em;
    font-weight:bold;
}

div.bmlt_admin_meeting_one_format_div label.right_label
{
    margin-left:0.5em;
    font-style:italic;
}

div.bmlt_admin_meeting_one_format_div input
{
    margin:0.1em;
}

div.bmlt_admin_meeting_search_results_single_meeting_container_div
{
    clear:both;
    float:none;
}

div.bmlt_admin_meeting_search_results_single_meeting_container_div a.bmlt_admin_meeting_search_results_single_meeting_a,
div.bmlt_admin_meeting_search_results_single_meeting_container_div a.bmlt_admin_meeting_search_results_single_meeting_a span
{
    display:block;
    cursor:pointer;
}

div.bmlt_admin_meeting_search_results_single_meeting_container_div a.bmlt_admin_meeting_search_results_single_meeting_a span
{
    float:left;
    padding-right:0.1em;
}

div.bmlt_admin_meeting_history_list_div
{
    font-weight:normal;
    margin-bottom:0.25em;
    color:#009;
}

div.bmlt_admin_meeting_history_list_item_div
{
    margin-top:0.25em;
}

div.bmlt_admin_meeting_history_list_item_line_div
{
    font-weight:normal;
    clear:both;
    float:none;
}

span.bmlt_admin_meeting_search_results_single_meeting_weekday_span
{
    width: 7em;
}

span.bmlt_admin_meeting_search_results_single_meeting_start_time_span
{
    width: 6em;
}

div.bmlt_admin_meeting_history_list_item_description_div
{
    clear:both;
    float:none;
    margin-left:1em;
    font-style:italic;
}

div.bmlt_admin_meeting_history_list_item_description_line_div
{
    margin-bottom:0.1em;
}

h1.bmlt_admin_no_history_available_h1
{
    text-align:center;
    vertical-align:middle;
    color:#009;
    font-size:x-large;
    padding: 20px;
}

div.bmlt_admin_history_ajax_button_throbber_div,
div.bmlt_admin_general_ajax_button_throbber_div
{
    text-align:center;
}

div.bmlt_admin_history_ajax_button_throbber_div
{
    padding: 20px;
}

span.bmlt_admin_ajax_button_throbber_span
{
    display:block;
    text-align:center;
}

div.bmlt_admin_history_ajax_button_throbber_div img
{
    display:block;
    margin:auto;
}

span.bmlt_admin_history_list_header_user_span
{
    padding-left:0.5em;
}

div.history_item_header_div
{
    font-weight:bold;
}

div.bmlt_admin_meeting_editor_form_meeting_button_div,
div.bmlt_admin_user_editor_button_div
{
    text-align:center;
}

div.admin_page_wrapper
{
    position:absolute;
    left:0px;
    right:0px;
    top:3em;
}

div.bmlt_admin_logout_bar
{
    margin:0;
    border:none;
    padding:0.1em;
    height:3em;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    text-align:center;
}

div.bmlt_admin_logout_bar a,
div.bmlt_admin_logout_bar a:visited
{
    padding:0.1em;
    display:block;
    color: #009;
    text-decoration:underline;
    background-color:white;
    border-bottom:1px solid white;
}

div.bmlt_admin_logout_bar a:hover,
div.bmlt_admin_logout_bar a:active
{
    color: #f96;
    text-decoration:none;
    background-color:#009;
}

span.bmlt_admin_visibility_advice_span
{
    float:left;
    display:block;
    text-align:left;
    padding-left:0.5em;
    font-style:italic;
    font-weight:normal;
    font-size:small;
    color:#009;
}

span.light_italic_display
{
    font-style:italic;
    font-weight:normal;
    color:#009;
}

div.format_tab_inner_div
{
    padding-left:2%;
}

div.format_tab_inner_div
{
    clear:both;
    float:none;
    margin:0;
}

div.bmlt_admin_meeting_option_sheet_div,
div.format_tab_inner_div,
div.bmlt_admin_meeting_one_format_div
{
    background-color:white;
    overflow:auto;
}

div.bmlt_admin_meeting_option_sheet_div,
div.bmlt_admin_single_location_long_lat_div
{
    padding-top:4px;
}

fieldset.bmlt_admin_single_service_body_editor_fieldset,
fieldset.bmlt_admin_single_user_editor_fieldset
{
    background-color:white;
    color:#009;
    border: 1px solid white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

fieldset.bmlt_admin_single_service_body_editor_fieldset legend,
fieldset.bmlt_admin_single_user_editor_fieldset legend
{
    padding: 0.25em;
    display:inline-block;
    border: 1px solid white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color:white;
    margin-left: 1em;
    margin-right:1em;
}

div.server_version_display_div
{
    position:absolute;
    right:8px;
    top:4px;
    color:#009;
    font-weight:normal;
    font-style:italic;
}

p.service_body_can_be_edited
{
    font-weight:bold;
}

noscript.main_noscript
{
    font-size:x-large;
    text-align:center;
    color:white;
}

div.naws_link_div
{
    text-align:center;
    font-weight:bold;
    padding: 0.1em;
    margin-bottom: 8px;
}

table.format_editor_table
{
    width: 100%;
}

table.format_editor_table,
table.format_editor_table tr,
table.format_editor_table td
{
    margin: 0;
    color:#009;
}

table.format_editor_table,
table.format_editor_table tr
{
    vertical-align:top;
    padding: 0;
}

tr.format_editor_format_line_tr td
{
    margin: 0;
    border:none;
    padding:4px;
}

tr.format_editor_format_line_even_tr td
{
    background-color:#efefff;
}

tr.format_editor_format_line_odd_tr td
{
    background-color:white;
}

tr.format_editor_naws_id_tr
{
    margin: 0;
    border:none;
    text-align:center;
}

tr.format_editor_naws_id_tr td
{
    padding:4px;
}

tr.format_editor_naws_id_tr .format_editor_naws_id_label
{
    padding-right:8px;
    text-align:right;
    font-weight:bold;
}

tr.new_format_line td
{
    background-color:#fee;
}

td.format_editor_id_td
{
    font-size:large;
    font-weight:bold;
}

td.format_editor_lang_td
{
    font-size:small;
    font-style:italic;
}

td.format_editor_buttons_td
{
    text-align:center;
}

td.format_editor_buttons_td div
{
    margin:1em;
}

td.format_editor_buttons_td div.format_editor_change_div
{
    vertical-align:top;
}

td.format_editor_buttons_td a
{
    margin: auto;
}

td.format_create_td
{
    text-align:center;
    border-top:1px solid #009;
    padding: 4px;
}

td.format_create_td a
{
    margin:auto;
}

div.bmlt_admin_meeting_search_results_single_meeting_container_div a.bmlt_admin_meeting_search_results_single_meeting_a span,
div.bmlt_admin_meeting_search_results_single_meeting_container_div a.bmlt_admin_meeting_search_results_single_meeting_a:visited span
{
    text-decoration:underline;
    color:#009;
}

div.bmlt_admin_meeting_search_results_single_meeting_container_div a.bmlt_admin_meeting_search_results_single_meeting_a:hover span,
div.bmlt_admin_meeting_search_results_single_meeting_container_div a.bmlt_admin_meeting_search_results_single_meeting_a:active span
{
    text-decoration:none;
    color:#900;
}

div.c_comdef_not_auth_container_div,
h2.c_comdef_not_auth_3
{
    color:#f66;
    text-align:center;
}

div#lang_enum_select_div
{
    margin-top:8px;
    margin-bottom:8px;
    text-align:center;
}

@media print
{
    div.bmlt_admin_logout_bar
    {
        display:none;
    }
}